{% extends "admin/default/container.html"%}
{% load url from future %}

{% block styles %}


{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf-8" src="/static/uploadify/jquery.uploadify.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#backgroundstyle_repeat").val('{{self.options.backgroundstyle_repeat}}');
        $("#backgroundstyle_horizontal").val('{{self.options.backgroundstyle_horizontal}}');
        $("#backgroundstyle_vertical").val('{{self.options.backgroundstyle_vertical}}');
        $("#backgroundstyle_status").val('{{self.options.backgroundstyle_status}}');
       
        
        $("#backgroundStyleForm").validate();
    });
</script>


{% endblock %}
{% block content %}
<div class="tbox">
    <div class="bd">
        {% if message%}
        <b>{{message}}</b>
        {% endif %}
                
        {% if self.options.backgroundstyle_image != ''%}
        <img src="/media{{self.options.backgroundstyle_image}}" height="150px"/>
        {% endif %}
 
                <form name="backgroundStyleForm" id="backgroundStyleForm" method="POST" action="" autocomplete="off"  enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="rowItem">
                <label>图片</label>
                <input id="backgroundstyle_image" name="backgroundstyle_image" type="file" >

            </div>
            <div class="rowItem">
                <label>图片显示</label>
                <select id="backgroundstyle_repeat" name="backgroundstyle_repeat">
                    <option value="no-repeat"}>不平铺</option>
                    <option value="repeat">平铺</option>
                    <option value="repeat-x">横向</option>
                    <option value="repeat-y" >纵向</option>
                </select>
            </div>
            <div class="rowItem">
                <label>左右对齐</label>
                <select id="backgroundstyle_horizontal" name="backgroundstyle_horizontal">
                    <option value="left" >居左</option>
                    <option value="center">居中</option>
                    <option value="right">居右</option>
                </select>  
            </div>
            
                    <div class="rowItem">
                        <label>上下对齐</label>
                        <select id="backgroundstyle_vertical" name="backgroundstyle_vertical">
                            <option value="top" >居顶</option>
                            <option value="center">居中</option>
                            <option value="bottom">居底</option>
                        </select>

                    </div>
                    <div class="rowItem">
                        <label>固定背景图</label>
                        <input id="backgroundstyle_fix" name="backgroundstyle_fix" type="checkbox" {% if self.options.backgroundstyle_fix == "True"%} checked="checked" {% endif%}/>
                    </div> 

            <div class="rowItem">
                <label>设定页面底色</label>
                <input id="backgroundstyle_color" name="backgroundstyle_color"  value="{{self.options.backgroundstyle_color}}"/>
            </div>

            
            <div class="rowItem">
                <label>启用</label>
                <select id="backgroundstyle_status" name="backgroundstyle_status">
                    <option value="none" >不使用</option>
                    <option value="image">使用图片</option>
                    <option value="color">使用背景色</option>
                    <option value="both" >使用图片和背景色</option>
                </select>
            </div>


            <div class="rowItem">
                <input type="submit" name="ok" value="--修改--"/>
            </div>
        </form>
    </div>

</div>
{% endblock %}

