{% load url from future %}
{% load uublogtags %}

<div class="pagination">

         {% if pagedObject.has_previous %}

            <a href="?page={{ pagedObject.previous_page_number }}">上一页</a>

            {% else %}

            <span class='empty'></span>

            {% endif %}

            <span class="current">

                当前页 {{ pagedObject.number }} of {{ pagedObject.paginator.num_pages }}

            </span>

            {% if pagedObject.has_next %}
    <a href="?{% DoQueryString view.currentQueryString page=pagedObject.next_page_number %}">下一页</a>


            {% else %}

            <span class='empty'></span>                            

            {% endif %}

    </div>