* { margin: 0px; padding: 0px; }
body { color: #666; font: 12px/18px "Î¢ÈíÑÅºÚE\8F6F\96C5\9ED1",Arial,sans-serif,"ÐÂËÎÌåB0\5B8B\4F53"; background: #F2F2F2; }
body { background-color: #1D7300; background-image: url('/static/images/10.jpg'); position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: -5; background-position: center 0; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; -webkit-background-size: cover; -o-background-size: cover; zoom: 1; }
p, ul, ol, li, form { list-style: none; }
img { border: none; text-align: center; vertical-align: middle; }
p { word-wrap: break-word; display: block; }
a { text-decoration: none; }

.clear { clear: both; height: 0; line-height: 0; font-size: 0; visibility: hidden; overflow: hidden; }
.clearfix { clear: both; zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; }
.left{ float: left;}
.right{ float: right;}

.border { border: 1px solid #D9D9D9; }


#topbar { background: transparent url(/static/images/top_bg2.png) repeat-x top left; height: 40px; _height: 38px; position: fixed; _position: absolute; top: 0; left: 0; right: 0; z-index: 1023; padding-bottom: 0; }

#topbar .wrapbox { width: 980px; margin: 0 auto; position: relative; height: 40px; }
#topbar .wrapbox ul li { float: left; font-size: 16px; text-align: center; height: 100%; line-height: 40px; }

#topbar .wrapbox .leftinfo { float: left; height: 35px; }
#topbar .wrapbox .leftinfo ul { }
#topbar .wrapbox .leftinfo ul li { }

#topbar .wrapbox .centerinfo { float: left; margin-left: 50px; height: 35px; }
#topbar .wrapbox .centerinfo ul { }
#topbar .wrapbox .centerinfo ul li { }

#topbar .wrapbox .centerinfo ul li.selected { }
#topbar .wrapbox .centerinfo ul li a { color: #454545; display: block; float: left; padding: 0 15px; height: 34px; border-bottom: none; }

#topbar .wrapbox .rightinfo { float: right; height: 35px; }
#topbar .wrapbox .rightinfo ul { }
#topbar .wrapbox .rightinfo ul li { float: left; font-size: 12px; text-align: center; height: 100%; line-height: 35px; }
#topbar .wrapbox .rightinfo ul li a { color: #454545; display: block; float: left; padding: 0 10px; height: 35px; border-bottom: none; }
