#header { width: 990px; margin: 0px auto; height: 80px; margin-bottom: 8px;border: none;}

            #container { width: 990px; margin: 0 auto; }
            #container #wrap_content { width: 750px; float: right; }
            #container #wrap_sidebar { width: 235px; float: left; }

            #footer { width: 990px; margin: 8px auto; height: 60px; }
        
            #navigate { }


            .tbox { margin-bottom: 20px;  background: white;  overflow: hidden; vertical-align: top; }
            .tbox .hd { padding: 19px 17px 0; position: relative; height: 29px; padding-top: 17px; }
            .tbox .hd h2 { font-size: 14px; line-height: 15px; color: #518900; float: left; }
            .tbox .hd h2 a { color: #316301; }
            .tbox .hd h2 a:hover { color: #596F37; text-decoration: none; }
            .tbox .hd span.more { float: right; position: relative; line-height: 25px; padding-right: 8px; color: #596F37; }
            .tbox .hd span.more a { color: #596F37; text-decoration: none; }
            .tbox .hd span.more a:hover { color: #ff3333; text-decoration: underline; }

            .tbox .bd { padding: 0 19px 11px; }
            .tbox .bd li { margin-left: 10px; line-height: 24px; }

            .tbox .ft { padding: 0 19px 11px; }

            .articleList { }
.articleList .tbox{}
.articleList .tbox .hd{ border-bottom: 1px solid #dedede;}
            .articleList .article{margin-bottom: 20px;border-bottom: 1px solid #dedede;  background: white; overflow: hidden; vertical-align: top;padding: 10px;}
            .articleList .article .artTitle { padding: 19px 17px 0; position: relative; height: 29px; padding-top: 17px; }
            .articleList .article .artMeta { }
            .articleList .article .artMeta span { float: right; }
            .articleList .article .artCon { }

            .article {margin-bottom: 20px;  background: white;  overflow: hidden; vertical-align: top;padding: 20px; }
            .article .artTitle { margin: 10px; }
            .article .artMeta { margin: 5px; }
            .article .artMeta span { float: right; }
            .article .artCon { }

            #aboutme{}
            #tags{}
            #category{}
            #viewtop{}
            #commenttop{}
            #newtop{}

#channelList{}
#channelList ul{}
#channelList ul li{ float: left;width: 80px;}

#channelNavigate{}