{% load url from future %}

<div id="commentList" class="commentList">
    <div id="newComment" class="newComment">
        {% if commentObject.cancomment %}
        <script type="text/javascript" charset="utf-8" src="/static/js/jquery.validate.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#newCommentForm").validate();
            });
            
        </script>
        <form name="newCommentForm" id="newCommentForm" method="POST" action="" autocomplete="off" >
            {% csrf_token %}
            <div class="rowItem">
                <label>昵称：</label>
                <input name="username" type="text" size="30" class="required"/>
            </div>
            <div class="rowItem">
                <label>Email：</label>
                <input name="email" type="text" size="30" />
            </div>
            <div class="rowItem">
                <label>标题：</label>
                <input name="title" type="text" size="60" value="{{commentObject.title}}" />
            </div>

            <div class="rowItem">
                <label>内容：</label>
                <textarea name="content" type="text" class="required"></textarea>
            </div>
            <div class="rowItem">
                <input type="submit" name="ok" value="--发表--"/>
            </div>

        </form>
        {% else %}
        <p>作者已禁止评论</p>
        {% endif %}
    </div>

    <div class="clear"></div>

    {% for commentInfo in commentList %}
    <div class="border comment">
        <span class="username">#{{ forloop.counter }}楼&nbsp;{{commentInfo.username}}</span>
        <span class="createtime">{{commentInfo.createtime|date:self.options.datetimeformat}} 发表</span>
        <div class="clear"></div>
        <div class="content">{{commentInfo.content}}</div>
        <div class="clear"></div>
        <div class="meta">
            <span>反对</span>
            <span>支持</span>
            <span>回复</span>

        </div>
        
    </div>
    {% endfor %}
    {% with "themes/"|add:self.theme|add:"/pagination.html" as pagination%}
        {% include pagination%}
    {% endwith %}

</div>


