{% load url from future %}
{% load uublogtags %}

{% if pagedObject %}
{% if pagedObject.has_previous or pagedObject.has_next %}
<div class="pagination">
        {% if pagedObject.has_previous %}
        <span>
            <a href="?{% DoQueryString view.currentQueryString page=pagedObject.previous_page_number %}" >上一页</a>
        </span>
        {% endif %}
        
        <span class="current">
            当前页 {{ pagedObject.number }} of {{ pagedObject.paginator.num_pages }}
        </span>

        {% if pagedObject.has_next %}
        <span class="next">
            <a href="?{% DoQueryString view.currentQueryString page=pagedObject.next_page_number %}">下一页</a>
        </span>
        {% endif %}
</div>

{% endif %}
{% endif %}