{% load url from future %}
{% load uublogtags %}

{% if pageObject %}
{% if pageObject.has_previous or pageObject.has_next %}
<div class="pagination">
    {% if pageObject.has_previous %}
    <a href="?{% DoQueryString view.currentQueryString page=pageObject.previous_page_number %}">上一页</a>
    {% endif %}

    <span class="current">
        当前页 {{ pageObject.number }} of {{ pageObject.paginator.num_pages }}
    </span>
    {% if pageObject.has_next %}
    <a href="?{% DoQueryString view.currentQueryString page=pageObject.next_page_number %}">下一页</a>
    {% endif %}
</div>

{% endif %}
{% endif %}