{% load uublogtags %}
{% load url from future %}
<div id="newlogo">
    <div class="top"></div>
    <div class="middle">
        <h1><a href="/" title="{{self.options.title}}" rel="home">{{self.options.title}}</a></h1>
    </div>
    <div class="bottom"></div>
										
</div>
<div id="menu" class="container">
    <div id="menu-bgtop">
                                     
    </div>

    <div id="menu-content">
        <ul id="dropmenu" style="-webkit-user-select: none; ">
            {{self.navs.main|safe}}
            <li class="first current_page_item initial active">
                <a href="http://leatherbound-blue.4templat.es/" title="Home">Home</a>
            </li>
            <li class="page_item page-item-76"><a href="http://leatherbound-blue.4templat.es/photo-galleries/">Photo Galleries</a>
                <ul class="children level1" style="z-index: 1; display: none; ">
                    <li class="page_item page-item-106">
                        <a href="http://leatherbound-blue.4templat.es/photo-galleries/nature/">Nature</a>
                        <ul class="children level2" style="z-index: 2; display: none; "><li class="page_item page-item-117"><a href="http://leatherbound-blue.4templat.es/photo-galleries/nature/clouds/">Clouds</a></li><li class="page_item page-item-125"><a href="http://leatherbound-blue.4templat.es/photo-galleries/nature/water/">Water</a></li></ul>
                    </li>
                    <li class="page_item page-item-78"><a href="http://leatherbound-blue.4templat.es/photo-galleries/people/">People</a></li>
                    <li class="page_item page-item-89"><a href="http://leatherbound-blue.4templat.es/photo-galleries/sports/">Sports</a></li>
                </ul>

            </li>
            <li class="page_item page-item-158"><a href="http://leatherbound-blue.4templat.es/theme-features/">Theme Features</a>
                <ul class="children level1" style="z-index: 1; display: none; ">
                    <li class="page_item page-item-160">
                        <a href="http://leatherbound-blue.4templat.es/theme-features/widgets/">Widgets</a>
                    </li>
                    <li class="page_item page-item-162"><a href="http://leatherbound-blue.4templat.es/theme-features/admin-options/">Admin Options</a></li>
                    <li class="page_item page-item-186"><a href="http://leatherbound-blue.4templat.es/theme-features/custom-page-templates/">Custom Page Templates</a></li>
                </ul>

            </li>
            <li class="page_item page-item-133"><a href="http://leatherbound-blue.4templat.es/about-me/">About Me</a></li>


            <li class="page_item page-item-38">
    
                <a href="http://leatherbound-blue.4templat.es/contact-me/">Contact Me</a></li>
            <li class="page_item page-item-44">
                
                <a href="http://leatherbound-blue.4templat.es/sitemap/">Sitemap</a>
            </li>
        </ul>


    </div><div id="menu-bgbtm"></div>

</div>



{% for theWidget in self.widgetList %}
    {% with "widgets/"|add:theWidget.name|add:"/"|add:theWidget.name|add:".html" as template%}
        {% DoTemplateExists template as isExists %}
        {% if isExists %}
            {% include template  with widget=theWidget only%}
        {% else %}
            {{template}} is not exists
        {% endif %}
    {% endwith %}
<div class="content-separator"></div>            
{% endfor %}