{% extends "basepage.html" %}

{% block title %}{{ articleInfo.title }}{% endblock %}
{% block styles %}
<style type="text/css">
    #container #wrap_sidebar{width:300px;}
</style>
{%endblock%}
{% block container %}

<div id="wrap_sidebar" class="tbox">
    <div class="tbox">
        <div class="hd"><h2>用户注册</h2></div>
        <div class="bd">
            <form name="form1" method="POST" action="">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>用户名</td>
                        <td><input name="username" id="username" type="text" size="30" value=""/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input name="email" id="email" type="text" size="30" value=""/></td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td><input name="password" id="password" type="text" size="30" value=""/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="ok" value="--注册--"/></td>
                    </tr>

                </table>
            </form>
      
        </div>
    </div>
</div>




{% endblock%}

