@import url("/static/css/global.css");
* { margin: 0px; padding: 0px; }
body { color: #666; font: 12px/18px "微软雅黑E\8F6F\96C5\9ED1",Arial,sans-serif,"新宋体B0\5B8B\4F53"; background: #F2F2F2; 
       background: #BCD3E5 url(/static/themes/default/images/bg.jpg) no-repeat center top;
width: 100%;
clear: both;

}

.border{border: 1px solid #a9bdce; box-shadow: 0 3px 3px #BCD3E5;}
.wrapbox{}

#topbar { background: transparent url(/static/images/top_bg2.png) repeat-x top left; height: 40px; _height: 38px; position: fixed; _position: absolute; top: 0; left: 0; right: 0; z-index: 1023; padding-bottom: 0; }

#topbar .wrapbox { width: 990px; margin: 0 auto; position: relative; height: 40px; }
#topbar .wrapbox ul li { float: left; font-size: 16px; text-align: center; height: 100%; line-height: 40px; }

#topbar .topNav{ height: 35px;}
#topbar .topNav li{ float: left;text-align: center; height: 100%; line-height: 35px; }
#topbar .topNav li a { color:blue; padding: 0 10px;font-size: 14px; }

/*头、中间、底部宽度*/
#header,#container,#footer{ width: 990px;margin: 0px auto;}

#header { margin: 0px auto;  margin-bottom: 10px;margin-top: 40px;border: 0px solid red; }
#header .wrapbox{border: 0px solid red;float: left;}
#blogTitle{border: 0px solid red;float: left; margin-left: 80px;}
#blogTitle h1{ height: 30px;line-height: 30px;border: 0px solid red;}
#blogTitle p{float: left;display: block;font-size: 14px;padding: 10px;color: #979797;border: 0px solid red;}

#blogNav{border: 0px solid red;
             height:30px;
	line-height:30px;
	font-size:12px;
}

#container {margin: 0 auto;}

#mainContent { width: 730px;  }
#mainContentFull{ width: 990px;}
#sidebar { width: 250px; }

#footer { margin: 8px auto; height: 60px; }
#footer .copyright{}
#footer .bottomNav{ height: 35px;}
#footer .bottomNav li{ float: left;text-align: center; height: 100%; line-height: 35px; }
#footer .bottomNav li a { color:blue; padding: 0 10px;font-size: 14px; }
       

/*文章列表*/
.postList { }
.postList .post{margin-bottom: 10px; background: white;  overflow: hidden; vertical-align: top;padding: 10px;}
.postList .post .postTitle { padding: 5px;line-height: 25px;}
.postList .post .postTitlePic { float: left;margin-right: 10px;margin-bottom: -15px; }
.postList .post .postCon {line-height: 150%;font-size: 12px;text-indent: 2em; }
.postList .post .postMeta { clear: both;float: right;}



/*文章页面*/
.postInfo {margin-bottom: 20px;  background: white; overflow: hidden; vertical-align: top;padding: 20px; }
.postInfo .postTitle { margin: 10px; }
.postInfo .postMeta { margin: 5px; }
.postInfo .postMeta span { float: right; }
.postInfo .postCon { word-wrap: break-word;word-break: normal;word-break:break-all;}
.postInfo .postCon .postBody{font-size: 14px;margin-left: 10px;margin-right: 10px;line-height: 180%;overflow: hidden;color: #404040;}
.postInfo .postCon .postBody p{margin-top: 10px;margin-bottom: 10px;line-height: 180%;color: #404040;}
.postInfo .postCon .postOther{}

/*单页面*/
.pageInfo {margin-bottom: 20px;  background: white; overflow: hidden; vertical-align: top;padding: 20px; }
.pageInfo .pageTitle { margin: 10px; }
.pageInfo .pageMeta { margin: 5px; }
.pageInfo .pageMeta span { float: right; }
.pageInfo .pageCon { }
.pageInfo .pageCon .pageBody{font-size: 14px;margin-left: 10px;margin-right: 10px;line-height: 180%;overflow: hidden;color: #404040;}
.pageInfo .pageCon .pageBody p{margin-top: 10px;margin-bottom: 10px;line-height: 180%;color: #404040;}
.pageInfo .pageCon .pageOther{}

/*评论列表*/
#commentList{}
#commentList .newComment{}
#commentList .newComment .rowItem{}
#commentList .newComment .rowItem label{ width: 120px;display: block;}
#commentList .newComment .rowItem label.error{ float: none;display: none;color: red;}
#commentList .newComment .rowItem textarea{ width: 500px;height: 80px;}
#commentList .comment{margin-bottom: 10px;padding: 10px;  background: white; overflow: hidden; vertical-align: top;}
#commentList .comment .username{ float: left;}
#commentList .comment .createtime{ float: right;}
#commentList .comment .content{word-wrap: break-word;word-break: break-all;line-height: 24px;}
#commentList .comment .meta{}
#commentList .comment .meta span{ float: right;margin-right: 10px;}

/*分类*/
.cats_0{}
.cats_0 .childCats{ margin-left: 8px;}

/*Widget*/
.widget{}
.widget .hd{height: 26px;line-height: 26px; background-image: url(/static/themes/default/images/widget_hd.png);_background-image: url(/static//themes/default/images/widget_hd.gif);}
.widget .bd{ background-image: url(/static/themes/default/images/widget_bd.png);_background-image: url(/static//themes/default/images/widget_bd.gif);}
.widget .ft{ background-image: url(/static/themes/default/images/widget_ft.png);_background-image: url(/static//themes/default/images/widget_ft.gif);}


#module_Profile{}
#module_Search{}
#module_Tags{}
#module_Category{}
#module_Archive{}
#module_ViewTopArticle{}
#module_ViewTopComment{}
#module_NewTopArticle{}
#module_NewTopComment{}
#module_FollowBlogList{}
#module_FollowBlogList .bd li{ float: left;margin-bottom: 5px;}
#module_BeFollowBlogList{}
#module_BeFollowBlogList .bd li{ float: left;margin-bottom: 5px;}
#module_BeVisitBlogList{}
#module_BeVisitBlogList .bd li{ float: left;margin-bottom: 5px;}


.messageContainer{ border: 1px solid #dedede;padding: 50px;}
.messageContainer .message{ text-align: center;}
.messageContainer .operations{margin-top: 20px; text-align: center;height: 20px;line-height: 20px;}





.widget_commentlist{}
.widget_commentlist .bd li{ line-height: normal;border-bottom: 1px solid #dedede;margin-top: 3px;}
.widget_commentlist p{ padding: 0px;}
.widget_commentlist span{display: block; text-align: right;clear: both;}







