{% extends "admin/default/container.html"%}
{% load url from future %}

{% block scripts %}

{% endblock %}
{% block content %}
<div class="tbox">
    <div class="bd">
        {% if message%}
        <b>{{message}}</b>
        {% endif %}
        <form name="form1" method="POST" action="" autocomplete="off" >
            {% csrf_token %}

            <div class="rowItem">
                <label>图片类型</label>
                <input name="filetype_image" type="text"  value="{{self.options.filetype_image}}"/>
            </div>
            <div class="rowItem">
                <label>多媒体类型</label>
                <input name="filetype_media" type="text"  value="{{self.options.filetype_media}}"/>
            </div>
            <div class="rowItem">
                <label>文件类型</label>
                <input name="filetype_file" type="text" value="{{self.options.filetype_file}}"/>
            </div>
            <div class="rowItem">
                <label>其它类型</label>
                <input name="filetype_other" type="text"  value="{{self.options.filetype_other}}"/>
            </div>

            <div class="rowItem">
                <input type="submit" name="ok" value="--修改--"/>
            </div>
        </form>
    </div>

</div>
{% endblock %}


