{% extends "admin/default/container.html"%}
{% load url from future %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#commentForm").validate();
    
    });
</script>
{% endblock %}
{% block content %}
<div class="tbox">
    <div class="bd">
        {% if message%}
        <b>{{message}}</b>
        {% endif %}
        <form name="commentForm" id="commentForm" method="POST" action="" autocomplete="off" >
            {% csrf_token %}
            <div class="rowItem">
                <label>开启评论</label>
                <input name="comment_open" type="checkbox" value="True" {% ifequal self.options.comment_open 'True'%} checked="checked" {% endifequal%}/>
            </div>
            <div class="rowItem">
                <label>评论间隔</label>
                <input name="comment_interval" type="text"  value="{{self.options.comment_interval}}" class="digits"/>
            </div>
            <div class="rowItem">
                <label>评论审核</label>
                <input name="comment_check" type="checkbox" value="True" {% ifequal self.options.comment_check 'True'%} checked="checked" {% endifequal%}/>
            </div>
            <div class="rowItem">
                <label>评论验证码</label>
                <input name="comment_code" type="checkbox" value="True" {% ifequal self.options.comment_code 'True'%} checked="checked" {% endifequal%}/>
            </div>
            <div class="rowItem">
                <label>评论分页</label>
                <input name="comment_paging" type="checkbox" value="True" {% ifequal self.options.comment_paging 'True'%} checked="checked" {% endifequal%}/>
            </div>
            <div class="rowItem">
                <label> 每页显示</label>
                <input name="comment_pagesize" type="text"  value="{{self.options.comment_pagesize}}" class="digits"/>
            </div>
            <div class="rowItem">
                <label>排在前面</label>{% ifequal self.options.comment_order 'False'%}adf{% endifequal%}
                <select name="comment_order">
                    <option value="True" {% ifequal self.options.comment_order 'True'%} selected="selected" {% endifequal%}>较新的</option>
                    <option value="False" {% ifequal self.options.comment_order 'False'%} selected="selected" {% endifequal%}>较旧的</option>
                </select>
            </div>
            
            <div class="rowItem">
                <input type="submit" name="ok" value="--修改--"/>
            </div>
        </form>
    </div>

</div>
{% endblock %}


