{% extends "admin/default/container.html"%}
{% load url from future %}

{% block scripts %}

{% endblock %}
{% block content %}
<div class="tbox">
    <div class="bd">
        {% if message%}
        <b>{{message}}</b>
        {% endif %}
        <form name="form1" method="POST" action="" autocomplete="off" >
            {% csrf_token %}

            <div class="rowItem">
                <label>站点标题</label>
                <input name="site_title" type="text" size="60" value="{{self.options.site_title}}"/>
            </div>
            <div class="rowItem">
                <label>站点关键字</label>
                <input name="site_keywords" type="text" size="60" value="{{self.options.site_keywords}}"/>
            </div>
            <div class="rowItem">
                <label>站点描述</label>
                <textarea name="site_description">{{self.options.site_description}}</textarea>
            </div>

            <div class="rowItem">
                <label>头部代码</label>
                <textarea name="header_html">{{self.options.header_html}}</textarea>
            </div>

            <div class="rowItem">
                <label>底部代码</label>
                <textarea name="footer_html">{{self.options.footer_html}}</textarea>
            </div>
            


            <div class="rowItem">
                <label>侧边栏</label>
                
            </div>

            <div class="rowItem">
                <input type="submit" name="ok" value="--修改--"/>
            </div>
        </form>
    </div>

</div>
{% endblock %}

