        <div id="topbar">
            <div class="wrapbox">
                <div class="leftinfo">
                    <ul>
                        <li><a href="/">
                                <h1>UUBlog</h1>
                            </a></li>
                    </ul>
                    
                </div>
                <div class="centerinfo">
                    <ul>
                        <li class="selected"><a href="{% url 'blogindex' %}">首页</a></li>
                        {% if userInfos.currentuser %}
                        <li><a href="{% url 'bloghome' uid=userInfos.currentuser.id%}">我的主页</a></li>
                        {% endif %}
                        <li><a href="{% url 'blogblog'%}">博客</a></li>
                        <li><a href="{% url 'blogchannel'%}">频道</a></li>
                        <li><a href="{% url 'bloghome' uid=randBlog.id%}">随便看看</a></li>
                    </ul>
                </div>
                <div class="rightinfo">
                    <ul>
                        {% if userInfos.currentuser %}
                        <li><a href="{% url 'bloghome' uid=userInfos.currentuser.id%}">我的博客</a></li>
                        <li><a href="{% url 'blogpubarticleadd' uid=userInfos.currentuser.id %}">发布文章</a></li>
                        <li><a href="{% url 'accountsbase' uid=userInfos.currentuser.id%}">设置</a></li>
                        <li><a href="{% url 'blogpubsetting' uid=userInfos.currentuser.id%}">博客设置</a></li>
                        <li><a href="{% url 'logout'%}">退出</a></li>
                        {% else %}
                        <li><a href="{% url 'register'%}">注册</a></li>
                        <li><a href="{% url 'login'%}">登录</a></li>
                        {% endif %}
                    </ul>
                    
                </div>
            </div>
        </div>
