{% extends "blog/pub/basepage.html"%}

{% block title%} 首页 {% endblock %}

{% block content %}
<div class="tbox">
    <div class="bd">
        {% if message%}
        <b>{{message}}</b>
        {% endif %}
        <form  enctype="multipart/form-data"  name="form1" method="POST" action="" >
            {% csrf_token %}
            <table>
                <tr>
                    <td></td>
                    <td>
                        <img src="/media/{{currentBlog.avatar}}" width="120px" height="120px"/><br/>
                        <input name="avatar" type="file" size="60" />
                        
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="ok" value="--修改--"/></td>
                </tr>

            </table>
        </form>
    </div>

</div>

{% endblock %}


{% block sidebar%}

{% include 'blog/pub/sidebar.html' %}

{% endblock %}