<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/common.css" />
        <link rel="stylesheet" type="text/css" href="/static/blog/styles/pub.css" />

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}

    </head>

    <body>
        {% include 'common/topbar.html'%}
        <div id="header">
            <div>
                <a href="/{{userInfos.guestblog.id}}">
                    <h1>{{userInfos.guestblog.title}}</h1>
                </a>
            </div>
        </div>

        <div class="clear"></div>
        <div id="container">
            <div class="wrap_content">
                <div class="managernavigate">
                    <ul>
                        <li><a href="{% url 'blogpubarticlelist' uid=userInfos.currentuser.id %}">文章管理</a></li>
                        <li><a href="{% url 'blogpubcategory' uid=userInfos.currentuser.id%}">分类管理</a></li>
                        <li><a href="{% url 'accountsbase' uid=userInfos.currentuser.id%}">个人资料</a></li>
                        <li>asfd</li>
                        <li>asfd</li>

                    </ul>

                </div>
                <div class="clear"></div>
                {% block content %}{% endblock %}
            </div>
            <div class="wrap_sidebar">
                {% block sidebar %}{% endblock %}
            </div>

        </div>

        <div class="clear"></div>
        {% include 'common/footer.html'%}
    </body>

</html>
