{% extends "blog/pub/basepage.html"%}

{% block title%} 首页 {% endblock %}
{% block scripts %}
<script type="text/javascript">
function getTypeIds() 
{
    var values = "";

    var arrChk = $("input[name='type']:checked").each(function() {
        values += $(this).val()+",";
    });

    $("#typeids").val(values);
    return true;
}

</script>
{% endblock %}
{% block content %}
<div class="tbox">
    <div class="bd">
        {% if message%}
        <b>{{message}}</b>
        {% endif %}
        <form name="form1" method="POST" action="" >
            {% csrf_token %}
            <table>
                <tr>
                    <td>标题</td>
                    <td><input name="title" type="text" size="60" value="{{currentBlog.title}}"/></td>
                </tr>
                <tr>
                    <td>描述</td>
                    <td><input name="description" type="text" size="60" value="{{currentBlog.description}}"/></td>
                </tr>

                <tr>
                    <td>关键字</td>
                    <td><input name="keywords" type="text" size="60" value="{{currentBlog.keywords}}"/></td>
                </tr>
                <tr>
                    <td>关于</td>
                    <td><input name="about" type="text" size="60" value="{{currentBlog.about}}"/></td>
                </tr>
                <tr>
                    <td>公告</td>
                    <td><input name="announcement" type="text" size="60" value="{{currentBlog.announcement}}"/></td>
                </tr>
                <tr>
                    <td>博客类型</td>
                    <td>
                        <input type="hidden" id="typeids" name="typeids"/>
                        {% if typeList %}
                        {% for typelInfo in typeList %}

                        {% if typelInfo.id in myTypeIds %}
                        <input type="checkbox" name="type"  value="{{typelInfo.id}}" checked="checked" />{{typelInfo.name}}
                        {% else %}
                        <input type="checkbox" name="type"  value="{{typelInfo.id}}" />{{typelInfo.name}}
                        {% endif %}

                        
                        {% ifequal forloop.counter 14%}
                        <br/>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}

                    </td>

                </tr>



                <tr>
                    <td></td>
                    <td><input type="submit" name="ok" onclick="getTypeIds();" value="--修改--"/></td>
                </tr>

            </table>
        </form>
    </div>

</div>
{% endblock %}


{% block sidebar%}

{% include 'blog/pub/sidebar.html' %}

{% endblock %}