{% extends "blog/pub/basepage.html"%}

{% block title%} 首页 {% endblock %}

{% block content %}
<div class="tbox">
    <div class="bd">
        {% if message%}
        <b>{{message}}</b>
        {% endif %}
        <form name="form1" method="POST" action="" >
            {% csrf_token %}
            <table>
                <tr>
                    <td>模块</td>
                    <td>
                        <script type="text/javascript">
                            
                            function addOption(objSelectIdFrom,objSelectIdTo) {
                                $("#"+objSelectIdFrom+" option:selected").each(function() {
                                    var selectedOption = $(this);
                                    
                                    var isExist = false;
                                    
                                    $("#"+objSelectIdTo+" option").each(function() {
                                        if (selectedOption.val() == $(this).val()) {
                                            isExist = true;
                                        }
                                    });

                                    if (!isExist) {
                                        var newOption = "<opiton value='" + selectedOption.val() + "'>" + selectedOption.text() + "</option>";
                                        newOption     = "<option value='" + selectedOption.val() + "'>" + selectedOption.text() + "</option>";
                                        
                                        $("#"+objSelectIdTo).append(newOption);
                                    }
                                });
                            }
                            
                            function removeOption(objSelectId) {
                                $("#" + objSelectId + " option:selected").remove();
                            }

                            function moveOption(objSelectId,direction) {
                                var selectedOption = $("#" + objSelectId + " option:selected");
                                var index = selectedOption.index();

                                if (direction < 0) {

                                    if (index == 0) {
                                        return;
                                    }
                                    selectedOption.remove();
                                    var preview = $("#" + objSelectId + " option").filter(":eq("+(index-1)+")");
                                    selectedOption.insertBefore(preview)
                                    
                                } else {
                                    var count = $("#" + objSelectId + " option").length - 1;
                                    if (index == count) {
                                        return;
                                    }
                                    var next = $("#" + objSelectId + " option").filter(":eq("+(index+1)+")");
                                    selectedOption.insertAfter(next)
                                }
                                //selectedOption.remove();
                            }

                            function getModules(objSelectIdTo) {
                                var values = "";
                                $("#"+objSelectIdTo+" option").each(function() {
                                    values += $(this).val()+",";
                                });
                                $("#modules").val(values);
                                return true;
                            }
                        </script>
<input name="modules" id="modules" type="hidden"/>
                        <table>
                            <tr>
                                <td>
                                    <div id="testjquery"></div>
                                    <select name="myModules" id="myModules" multiple="multiple" width="180px" height="120px" style="width: 180px;height: 120px;">
                                        {% if myModules %}
                                        {% for module,name in myModules.items %}
                                        <option value="{{module}}">{{name}}</option>
                                        {% endfor %}

                                        {% endif %}
                                    </select>
                                </td>

                                <td><input name="modulemoveup" type="button" value="上移"  onclick="moveOption('myModules',-1);"/><br/>
                                    <input name="modulemovedow" type="button" value="下移" onclick="moveOption('myModules',1);"/><br/>
                                    <input name="moduleremove" type="button" value="删除" onclick="removeOption('myModules');"/>
                                </td>

                                <td>
                                    <select id="allModules" name="allModules" multiple="multiple" width="180px" height="120px" style="width: 180px;height: 120px;">
                                              {% if allModules %}
                                              {% for module,name in allModules.items %}
                                              <option value="{{module}}">{{name}}</option>
                                              {% endfor %}

                                              {% endif %}
                                          </select>
                                </td>

                                <td><input name="moduleadd" type="button" value="添加" onclick="addOption('allModules','myModules');"/></td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="ok" onclick="getModules('myModules');" value="--修改--"/></td>
                </tr>

            </table>
        </form>
    </div>

</div>
{% endblock %}


{% block sidebar%}

{% include 'blog/pub/sidebar.html' %}

{% endblock %}