<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/common.css" />
        <link rel="stylesheet" type="text/css" href="/static/blog/styles/style.css" />

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}

    </head>

    <body>
        {% include 'common/topbar.html'%}
        <div id="header" class="border">
            <div>
                <a href="/{{userInfos.guestblog.id}}">
                    <h1>{{userInfos.guestblog.title}}</h1>
                </a>
            </div>
        </div>

        <div class="clear">
        </div>
        <div id="container">
            {% block container %}{% endblock %}
        </div>
        <div class="clear">
        </div>
        {% include 'common/footer.html'%}

    </body>
</html>
