{% extends 'blog/basepage.html'%}
{% block scripts %}
<script type="text/javascript" charset="utf-8" src="/static/scripts/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
    function ListenChannel() {
        ajaxurl = "{% url 'blogajaxlistenchannel' %}";
        postData = {"channelid":$("#channel_id").val()};
        
        $.ajax({
            type: "GET",
            data: postData,
            url: ajaxurl,
            cache: false,
            dataType: "json",
            success: function(data, textStatus) {
                //alert(data);
                $("#listenstatus").html("已收听");
                //$("#listenChannel").attr("disabled", "disabled");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest);
                $("#message").html(XMLHttpRequest);
                $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
            }
        });
        
        return false;
    }
</script>

{% endblock %}

{% block container %}
<div id="wrap_content">
    <div id="channelArticleList" class="channel_articleList">
        <div id="channelNavigate" class="border tbox">
            <dir class="hd">
                <h2>{{parentChannel.name}}
                    {% if childChannel %}
                    >>{{childChannel.name}}
                    {% endif %}
                </h2>
                {% if userInfos.currentuser%}
<!--
                <div id="listenstatus">
                    {% if hasListened %}
                    已收听
                    {% else %}
                    <input type="hidden" id="channel_id" name="channel_id" value="{{listenChannelId}}"/>
                    <input type="submit" id="listenChannel" name="ok" value="--收听--" onclick="ListenChannel();"/>
                    {% endif %}
                </div>
                {% endif %}
  -->              
                <div class="right childrenChannel">
                    <ul>
                    {% for channelInfo in childrenChannel %}
                    <li><a href="{% url 'blogchannel' cid=parentChannel.id c2id=channelInfo.id%}">{{channelInfo.name}}</a></li>
                    {% endfor %}
                    <ul>
                </div>
            </dir>
        </div>
        <div class="articleContainer">
            {% if articleList %}
            {% for articleInfo in articleList%}
            <div class="articleItem">
                <div class="artTitle"><h2><a href="{% url 'blogarticleshow' uid=articleInfo.user_id aid=articleInfo.id%}">{{articleInfo.title}}</a></h2></div>
                <div class="artCon">
                    
                    {{articleInfo.summary}}       
                </div>

                <div class="artMeta">
                    <span><a href="{% url 'bloghome' uid=articleInfo.user_id%}">{{articleInfo.username}}</a>&nbsp;&nbsp;┆&nbsp;&nbsp;{{articleInfo.createtime|date:"Y-m-d H:i:s"}}&nbsp;&nbsp;┆&nbsp;&nbsp;阅读({{articleInfo.views}})&nbsp;&nbsp;┆&nbsp;&nbsp;评论({{articleInfo.comments}})&nbsp;&nbsp;┆&nbsp;&nbsp;支持({{articleInfo.goods}})&nbsp;&nbsp;┆&nbsp;&nbsp;反对({{articleInfo.bads}})</span>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div id="wrap_sidebar">

    <div id="module_Channel" class="border tbox">
        <!--
        <div class="hd">
            <h2>我的频道</h2>
        </div>
        <div id="channelList" class="bd">
            <ul>

                {% if myChannelList %}
                {% for channelInfo in myChannelList %}
                <li><a href="{% url 'blogchannel' cid=channelInfo.id%}">{{channelInfo.name}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="ft"></div>
        <div class="clear"></div>
        -->
        <div class="hd">
            <h2>频道</h2>
        </div>
        <div id="channelList" class="bd">
            <ul>
                {% if channelList %}
                {% for channelInfo in channelList %}
                <li><a href="{% url 'blogchannel' cid=channelInfo.id%}">{{channelInfo.name}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="ft"></div>
    </div>

    <div id="module_Channel" class="border tbox">
        <div class="hd">
            <h2>频道排行</h2>
        </div>
        <div id="channelList" class="bd">
            <ul>
                {% if channelList %}
                {% for channelInfo in channelList %}
                <li><a href="{% url 'blogchannel' cid=channelInfo.id%}">{{channelInfo.name}}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="ft"></div>
    </div>

    {% if myModules %}
    {% for module in myModules %}
    {% with "blog/modules/"|add:module|add:".html" as template%}
    {% include template %}
    {% endwith %}

    {% endfor %}
                
    {% else %}
    {% endif %}
</div>



{% endblock %}